h1{
    font-size:100px;

    border:2px solid whitesmoke;
    border-radius:30px;
    
}
body{
    background-color: greenyellow;
}
img{
    height:50px;
}
.gg{
    height: 50vh;
}
.kk{
    font-size:70x;
    height: 5Ovh;
   
}
.im{
    display: flex;
    justify-content: center;
    align-items: center;


}
ul{
    text-align: left;
}
p{
    text-align: left;
}